<section id="about" class="about">
    <div>
        <img src="/images/photo-gray.jpg"/>
        <p>
            My journey started out when a family member gave me a disc with video tutorials on HTML and CSS. I remember getting so hooked that I sat a whole weekend in my PJ's going throw the whole course and weeks after that learning as much as I could from w3schools.
        </p>
        <br/>
        <p>
            From a young age I loved drawing and painting and always wanted to be a graphic designer. But, as life goes it didn't turn out that way. But I believe that's where my love of the frontend came from. I'm all about beautiful, simple, functional interfaces and user experiences.
        </p>
        <br/>
        <p>
            I believe that a good life-work balance is extremely important and I don't think that should be looked down upon. I'd rather give you 100% of my attention 100% of the time rather than 50% of my attention 120% of the time.
        </p>
    </div>
</section>
