<footer class="footer">
    <div class="footer__name">
        <span>Dean Gibson</span>
    </div>
    <div class="footer__copyright">
        <span>&copy; 2016 &#8729; Dean Gibson &#8729; All Wrongs Reversed</span>
    </div>
    <div class="footer__social">
        <a class="socicon-github" href="{{ site.github }}" target="_blank"></a>
        <a class="socicon-facebook" href="{{ site.facebook }}" target="_blank"></a>
        <a class="socicon-linkedin" href="{{ site.linkedin }}" target="_blank"></a>
    </div>
</footer>
