<section id="skills" class="skills">

    <div class="skills-col">

        {% include skill.html skill="HTML" rating="100" competency="Ninja" %}

        {% include skill.html skill="JavaScript" rating="80" competency="Samurai" %}

        {% include skill.html skill="AngularJS" rating="70" competency="Pirate" %}

        {% include skill.html skill="Sass / CSS" rating="100" competency="Ninja" %}

        {% include skill.html skill="Wordpress" rating="80" competency="Samurai" %}

        {% include skill.html skill="React" rating="70" competency="Pirate" %}

        {% include skill.html skill="Gulp" rating="100" competency="Ninja" %}

        {% include skill.html skill="Cordova" rating="80" competency="Samurai" %}

    </div>

    <div class="skills-col">
        <a href="{{ site.cv_link }}" class="cv-button" target="_blank">Download My CV</a>
    </div>

</section>
